ollama
pandas
sentence-transformers
elasticsearch
transformers
torch
faiss-gpu
langchain-nomic
langchain_community
tiktoken
langchainhub
chromadbollama
pandas
sentence-transformers
elasticsearch
transformers
torch
faiss-gpu
langchain-nomic
langchain_community
tiktoken
langchainhub
chromadb
langchain
langgraph
tavily-python
nomic[local]
langchain-text-splitters
langchain-openai
cohere
langchain-milvus
rank_bm25
langchain_cohere
rank_llm
pymilvus
langchain-huggingface
llmlingua
accelerate
milvus
ragas==0.1.0

langchain
langgraph
tavily-python
nomic[local]
langchain-text-splitters
langchain-openai
cohere
langchain-milvus
rank_bm25
langchain_cohere
rank_llm
pymilvus
langchain-huggingface
llmlingua
accelerate
milvus
ragas==0.1.0
